 

 <!DOCTYPE html>
 <html lang="zxx"> 
     
     <head>
     <%- include('../partials/head.ejs') %> 
	 <title>Executives | UPUI – Meet Our Leadership</title>  
	 <meta name="description" content="Meet the dedicated leaders of the Urhobo Progress Union Ireland (UPUI). Our executives work tirelessly to promote unity, culture, and progress within the community.">  
	 
	 <!-- Open Graph Meta Tags for Facebook, LinkedIn, etc. -->
	 <meta property="og:title" content="Executives | Urhobo Progress Union Ireland">
	 <meta property="og:description" content="Get to know the executives of UPUI, committed to fostering unity and development among Urhobos in Ireland.">
	 <meta property="og:image" content="https://upuireland.org/img/upuilogo.png">
	 <meta property="og:url" content="https://upuireland.org/meet_the_executives">
	 <meta property="og:type" content="website">  
	 
	 <!-- Twitter Card Meta Tags -->
	 <meta name="twitter:card" content="summary_large_image">
	 <meta name="twitter:title" content="Executives | Urhobo Progress Union Ireland">
	 <meta name="twitter:description" content="Learn about the leadership team of UPUI and their mission to empower the Urhobo community in Ireland.">
	 <meta name="twitter:image" content="https://upuireland.org/img/upuilogo.png">
	 <meta name="twitter:url" content="https://upuireland.org/meet_the_executives">
		 

     <style>
          .t-bottom p , .t-bottom h2{
              text-transform:uppercase;
          }
     </style>
 
     </head> 
 
     <body>
     
         <!-- Preloader -->
         <%- include('../partials/preloader.ejs') %>
         <!-- End Preloader -->
         
          
     
         <!-- Header Area -->
         <%- include('../partials/header.ejs') %>
         <!-- End Header Area -->
     
         <!-- Breadcrumbs -->
         <div class="breadcrumbs overlay">
             <div class="container">
                 <div class="bread-inner">
                     <div class="row">
                         <div class="col-12">
                             <h2>Executives</h2>
                             <ul class="bread-list">
                                 <li><a href="/">Home</a></li>
                                 <li><i class="icofont-simple-right"></i></li>
                                 <li class="active">Executives</li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- End Breadcrumbs --> 


         <!----Start Gallery-->  
         <section id="team" class="team section" data-stellar-background-ratio="0.5">
			<div class="container"> 
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="/img/upuipresident.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>UPUI President</p>
								<h2><a href="">Lucky Ohwofasa Eghagbevwa</a></h2> 
							</div>
						</div>
						<!-- End Single Team -->
					</div>     
					
					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="/img/upuivicepresident.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>UPUI Vice President</p>
								<h2><a href="">Dr Chief Mrs Mercy Eguriase Sule (JP)</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div>   


					
					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuitreasurer.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>UPUI Treasurer</p>
								<h2><a href="">Chief Evangelist John Odiete</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div>   
					
					
					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuisecretary.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom"> 
								<p> UPUI Secretary </p>
								<h2><a href=""> Pastor Alex Onome Aroh</a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div>  


					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="/img/upuieventofficer.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>UPUI Event Officer</p>
								<h2><a href="">Mrs Ejiro Irejuwa Nweke</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div> 




					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuiwelfarechairperson.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui WELFARE CHAIRPERSON</p>
								<h2><a href=""> PRINCESS (MRS) TEMISAN FREGENE BOMOR  </a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div>    
                    <div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuipro.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui pro</p>
								<h2><a href="">Omiragua Desmond Onoriode</a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div> 
                    <div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuiasstsecretary.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui Asst.Secretary</p>
								<h2><a href="">Eseoghene Agbude</a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div>   


                    <div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuiwomencoordinator.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui Women Coodinator</p>
								<h2><a href="">Victoria Jackson Amakare 
                                </a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div>    
        



					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuifinancialsecretary.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui Financial Secretary</p>
								<h2><a href=""> Princess Susan Otu Ogbolomo </a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div>    




					<div class="col-lg-3 col-md-6 col-12" data-tilt>
						<!-- Single Team -->
                        <div class="single-team">
							<div class="t-head">
								<img src="/img/upuinyc.jpg" alt="#">
								<div class="t-icon">
									<a href="" class="btn">Get in Touch</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>upui National Youth Coordinator</p>
								<h2><a href=""> Omiragua Akpowene .A. Odjegba
                                </a></h2>
							</div>
						</div>
						<!--End Single Team -->
					</div> 
                     
				</div>
			</div>
		</section>
		
         <!----End gallery--->
                 
          
         
         <!-- Footer Area -->
         <%- include('../partials/footer.ejs') %>
         <!--/ End Footer Area -->  

     </body>
            
         </html>